[main]
name = Friday
max_interactions = 10
default_interaction_engine = RegexConversationInteractionEngine
;default_interaction_engine = SnipsNluInteractionEngine
[plugins]
ArduinoPlugin = False
ScheduledFunctionsPlugin = False
ExamplePlugin = True
SystemPlugin = False
WeatherUndergroundPlugin = False
LiquorSalePlugin = False
ZeroMQPlugin = False
NotificationPlugin = False
ChromeCastPlugin = False
[inputs]
HttpInput = False
TerminalInput = True
[interaction_engines]
CLIInteractionEngine = True
RegexConversationInteractionEngine = True
SnipsNluInteractionEngine = False
