[default]
refresh_interval = 1
[WeatherUndergroundPlugin]
refresh_interval = 60
[SystemPlugin]
refresh_interval = 1
[ExamplePlugin]
refresh_interval = 3600
[ZeroMQPlugin]
refresh_interval = 3600
[NotificationPlugin]
refresh_interval = 3600
[ArduinoPlugin]
refresh_interval = 3600
[ScheduledFunctionsPlugin]
refresh_interval = 3600
[ChromecastPlugin]
refresh_interval = 3600
[LiquorSalePlugin]
refresh_interval = 36000
